<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}" ></script>
    </head>

    <body style ="background-color: #d4dfc7">
        <ul class="horizontal-navbar"  id = "red-navbar">
            <li id = "home-navbar"><a href="/">Home</a></li>
            <li id = "search-navbar"> <a href="/search">Pokemon</a></li>
            <li id = "search-navbar"><a href="/Type Search">Type</a></li>
        </ul>

        <h1 class = "welcome_text"> WELCOME TO POKESEARCH!</h1>
        <img src="https://img.photobucket.com/albums/v167/Tyrannotaur/limitedcollage1copy.png" class = "poke-image">
        

    </body>
</html>