<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css" />
        <script type="text/javascript" src="{{ url_for('static', filename='mockup1.js') }}" ></script>
    </head>

    <body>
        <ul class="horizontal-navbar"  id = "red-navbar">
            <li><a href="index.html">Home Title</a></li> </ul>
        
        <ul class="horizontal-navbar">
            <li id = "white-navbar"> <a href="mockup1.html">Pokemon Search</a></li>
            <li id = "white-navbar"><a href="mockup2.html">Type Search</a></li>
        </ul>

        <p> Pokemon <select id="pokemon_selector"></select></p>

        <p><table id="pokemon_table"></table></p>
    </body>
</html>