<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mockup1</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mockup1.css') }}" type="text/css" />
        <script type="text/javascript" src="{{ url_for('static', filename='mockup1.js') }}" ></script>
    </head>

    <body>
        <ul class="horizontal-navbar"  id = "red-navbar">
            <li id = "home-navbar"><a href="/">Home Title</a></li>
            <li id = "search-navbar"><a href="/mockup1">Pokemon Search</a></li>
            <li id = "search-navbar"><a href="/mockup2">Type Search</a></li>
        </ul>
        
        <div class="rectangle">
            <div id="pokemon_name" class="name"><select id="pokemon_selector"></select></div>
        </div>

        <div class="rectangle">
            <div id="pokemon_name" class="classification">The disaster Pokemon</div>
        </div>
        <div class = "side_by_side">
        <img src="https://static.wikia.nocookie.net/pokemonempyrean/images/3/30/359.png/revision/latest?cb=20200825130040" class = poke-image>

        <table id="pokemon_table">
        <tr><th>Stat</th><th>Points</th></tr>
        <tr><td>HP</td><td>n/a</td></tr>
        <tr><td>Atk</td><td>n/a</td></tr>
        <tr><td>Def</td><td>n/a</td></tr>
        <tr><td>Sp. Atk</td><td>n/a</td></tr>
        <tr><td>Sp. Def</td><td>n/a</td></tr>
        <tr><td>Speed</td><td>n/a</td></tr>
        <tr><td>Total</td><td>n/a</td></tr>
        
        </table>
        </div>

        <div class="type_rectangle">
            <div id="pokemon_type1" class="classification">n/a</div>
        </div>
        <div class="type_rectangle">
            <div id="pokemon_type2" class="classification">n/a</div>
        </div>

        <div class = "weakness_and_gender_side">
        <table id="weakness_and_strength_table">
            <tr><td>Strong Against:</td><td>n/a</td></tr>
            <tr><td>Weak Against:</td><td>n/a</td></tr>
        </table>
            <div class = "right_next">
            <div class="gender_rectangle">
                <div id="female" class="classification">Female %: 50</div>
            </div>
            <div class="gender_rectangle">
                <div id="male" class="classification">Male %: 50</div>
            </div>
        </div>
        </div>
        
    </body>
</html>