<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}" ></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" type="text/css"/>
</head>
<body style ="background-color: #d4dfc7">
    <ul class="horizontal-navbar"  id = "red-navbar">
        <li id = "home-navbar"><a href="/">Home</a></li>
        <li id = "search-navbar"><a href="/search">Pokemon Search</a></li>
        <li id = "search-navbar"><a href="/Type Search">Type Search</a></li>
    </ul>

    <div id = "title_text">Enter a Pokemon Name</div>

        <div>
    <input type="text" name = 'q' id="pokemon_search"/>
    <button type="submit" id = "submit">Search</button>
        </div>
</body>
</html>
