<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Type Search</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mockup2.css') }}" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='mockup2.js') }}" ></script>
    </head>

    <body style ="background-color: #d4dfc7">
        <ul class="horizontal-navbar" id="red-navbar">
            <li id="home-navbar"><a href="/">Home</a></li>
            <li id="search-navbar"><a href="/search">Pokemon</a></li>
            <li id="search-navbar"><a href="/Type Searcb">Type</a></li>
        </ul>
        <div class="type_rectangle">
            <div id="pokemon_type" class="name"><select id="type_selector"></select></div>
        </div>

        <div class="type_table">
            <table id="pokemon_table">
                <tr><th>Pokemon</th><th>Type 1</th><th>Type 2</th><th>Base Stat Total</th></tr>
                <tr><td>n/a</td><td>n/a</td><th>n/a</th><th>n/a</th></tr>
            </table>
        </div>
    </body>
</html>