<!DOCTYPE html>
<html>
<head>
    <title>Movie API reference</title>
</head>
<body>
    <pre>Movie API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /pokemon
RESPONSE:
    A list containing every pokemon with their types

REQUEST: /type/{type}
    A list of pokemon that contain the type given

    For example:

        /type/grass

    will return a list of all pokemon that are a grass type.

        /pokemon

    will return a list of all pokemon.
    </pre>
</body>
</html>

